.carousel-item img {
    object-fit: cover;
    height: 500px;
    width: 200px;
  }
  
  .carousel-caption h3 {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
  }
  
  .carousel-caption p {
    color: #ddd;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
  }
  